<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guru_chcekmate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="To Do App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GURU_Chcekmate">
        <activity android:name=".Title"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTodoActivity2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        </activity>
        <activity android:name=".MainActivity"
            android:parentActivityName=".Title">

        </activity>
    </application>

</manifest>